.info-wrap {
    display: flex;
    color: lightgray;
}
.info-views::before {
    content: "";
    width: 22px;
    height: 15px;
    display: inline-block;
    background: url(./eye.png) 1px 3px no-repeat;

}