.recentArticle {
    display: flex;
    
    min-height: 530px;
    color: white;
}
.post-meta {
    align-self: flex-end;
    margin-bottom: 20px;
}
.post-title {
    max-width: 530px;
    text-align: left;
}
.post-title a {
    color: white;
    text-decoration: none;
}