.recentArticle {
    background: url(./post-image.jpg);
    height: 565px;
    color: white;
    padding: 400px 400px 0 0;
}
.post-title {
    max-width: 530px;
    text-align: left;
    margin-left: 55px;
}
.post-title a {
    color: white;
    text-decoration: none;
}